<h1 mat-dialog-title>Instrucciones de uso</h1>
<h3 mat-dialog-title>Controles</h3>
<div mat-dialog-content>
    <ul>
        <li>
            <span class="flex"><mat-icon>mouse</mat-icon>Click derecho arrastrar: mover modelo<mat-icon>open_with</mat-icon></span>
        </li>
        <li>
            <span class="flex"><mat-icon>mouse</mat-icon>Click izquierdo arrastrar: rotar modelo<mat-icon>360</mat-icon></span>
        </li>
        <li>
            <span class="flex"><mat-icon>mouse</mat-icon>Rueda del ratón: zoom<mat-icon>zoom_in</mat-icon><mat-icon>zoom_out</mat-icon></span>
        </li>
    </ul>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cerrar</button>
</div>
