<!--<button class="btn btn-primary">Ir a dashboard</button>-->
<app-navbar *ngIf="isAdminEstudioRoute()" (sentValue)="actualizarAjustes($event)"></app-navbar>
<app-chat></app-chat>
<!--app-ajustes-cuenta-->
<app-valoracion></app-valoracion>
<router-outlet>
    <app-spinner></app-spinner>
</router-outlet>

<!-- <div *ngIf="mostrarAjustes">
    <app-ajustes-cuenta></app-ajustes-cuenta>
</div> -->
<app-footer *ngIf="isAdminEstudioRouteFooter()"></app-footer>

<!-- Modal perfil - Avatar
<div class="modal" id="modalPerfil3" tabindex="-1" aria-labelledby="modalPerfilLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" class="headerModal">
                <img class="d-block w-50 justify-content-center" src="./assets/images/LOGO2.png">
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#modalPerfil">Editar perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#modalPerfil2">Cuenta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page">Avatar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#modalPerfil4">Mi plan</a>
                    </li>
                </ul>
            </div>
            <div id="modalPerfil3Contenido">
                <div class="divGestiona">
                    <h5 class="titlePost fw-bold text-center">Tu avatar a otro nivel</h5>
                </div>
                <div class="divCuenta">
                    <p>Tono de piel</p>

                </div>
                <div class="divCuenta">
                    <p>Sexo</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <label class="form-check-label" for="flexCheckDefault">
                          Masculino
                      </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <label class="form-check-label" for="flexCheckChecked">
                          Femenino
                      </label>
                    </div>
                </div>
                <div class="divCuenta">
                    <p>Complexion</p>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown button
                      </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <div class="divCuenta">
                    <p>Pelo</p>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown button
                      </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <div class="divCuenta">
                    <p>Barba</p>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown button
                      </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-0" id="botonesBuscar">
                <button type="button" class="btn bg-dark" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn inverso">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>
-->
<!-- Modal perfil - Mi plan
<div class="modal" id="modalPerfil4" tabindex="-1" aria-labelledby="modalPerfilLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" class="headerModal">
                <img class="d-block w-50 justify-content-center" src="./assets/images/LOGO2.png">
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#modalPerfil">Editar perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#modalPerfil2">Cuenta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#modalPerfil3">Avatar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page">Mi plan</a>
                    </li>
                </ul>
            </div>
            <div id="modalPerfil4Contenido">
                <div class="divCuenta">
                    <h5 class="actualPlan fw-bold text-center">Tu plan actual es</h5>
                </div>
                <div class="divGestiona">
                    <h5 class="titlePost fw-bold text-center">Premium</h5>
                </div>
                <div class="divCuenta centrado">
                    <button type="button" class="btnModifyPlan btn bg-dark text-center" onclick="window.location.href='/planes'"> Cambiar plan </button>
                </div>
                <div class="divCuenta centrado warning">
                    <h3>
                        <fa-icon [icon]="faWarning"></fa-icon> Aviso
                    </h3>
                </div>
                <div class="divCuenta centrado">
                    <p class="negrita">Si tienes muchos diseños y cambias a un plan más bajo se guardarán los 10 diseños más antiguos</p>
                </div>
            </div>
            <div class="modal-footer border-0" id="botonesBuscar">
                <button type="button" class="btn bg-dark" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn inverso">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>
-->
