<!--<button (click)="compressFile()">Upload and compress Image</button>
<img [src]="imgResultBeforeCompression" *ngIf="imgResultBeforeCompression" />
<img [src]="imgResultAfterCompression" *ngIf="imgResultAfterCompression" />-->
<div class="row justify-content-center py-5 divTituloLegal">
    <div class="col-8 col-md-8 col-lg-6 text-center mb-3">
        <div class="d-block mb-3">
            <span class="text-uppercase f14">Política de Privacidad</span>
        </div>
        <h1>Te garantizamos el cumplimiento con la <span class="tituloLegal" alt="Reglamento General de Protección de Datos" title="Reglamento General de Protección de Datos">RGPD</span></h1>
    </div>
</div>
<div class="container">
    <div class="row py-0 py-md-5 align-items-center justify-content-between">
        <div class="col-12 col-md-12 col-lg-12 ">

            <div class="d-block mb-3">
                <div class="logo_lista text-uppercase f14 fw-bold">
                    1. Información al usuario
                </div>
            </div>
            <p>TA2AT, como Responsable del Tratamiento, le informa que, según lo dispuesto en el Reglamento (UE) 2016/679, de 27 de abril, (RGPD) y en la L.O. 3/2018, de 5 de diciembre, de protección de datos y garantía de los derechos digitales (LOPDGDD),
                trataremos su datos tal y como reflejamos en la presente Política de Privacidad. En esta Política de Privacidad describimos cómo recogemos sus datos personales y por qué los recogemos, qué hacemos con ellos, con quién los compartimos,
                cómo los protegemos y sus opciones en cuanto al tratamiento de sus datos personales. Esta Política se aplica al tratamiento de sus datos personales recogidos por la empresa para la prestación de sus servicios. Si acepta las medidas de
                esta Política, acepta que tratemos sus datos personales como se define en esta Política.
            </p>
            <div class="d-block mb-3">
                <div class="logo_lista text-uppercase f14 fw-bold">
                    2. Contacto
                </div>
            </div>
            <ul>
                <li> <span class="subrayado2">Nombre comercial:</span> TA2AT</li>
                <li> <span class="subrayado2">Denominación social:</span> TA2AT</li>
                <li> <span class="subrayado2">NIF:</span> XXXXXXXXX</li>
                <li> <span class="subrayado2">Domicilio social:</span> Carr. de San Vicente del Raspeig, s/n, 03690 San Vicente del Raspeig, Alicante.</li>
                <li> <span class="subrayado2">Correo electrónico:</span> ta2at@gmail.com</li>
                <<<<<<< HEAD <li> <span class="subrayado2">Web:</span> www.ta2at.ovh</li>
                    =======
                    <li> <span class="subrayado2">Web:</span> www.tatuate.es</li>
                    >>>>>>> mvp
                    <li> <span class="subrayado2">Teléfono:</span> 123456789</li>
            </ul>
            <div class="d-block mb-3">
                <div class="logo_lista text-uppercase f14 fw-bold">
                    3. Principios clave
                </div>
            </div>
            <ul>
                <li><span class="subrayado2">· Legalidad: </span>Solo recopilaremos sus Datos personales para fines específicos, explícitos y legítimos.</li>
                <li><span class="subrayado2">· Minimización de datos: </span>Limitamos la recogida de datos de carácter personal a lo que es estrictamente relevante y necesario para los fines para los que se han recopilado.</li>
                <li><span class="subrayado2">· Limitación de la Finalidad: </span>Solo recogeremos sus datos personales para los fines declarados y solo según sus deseos.</li>
                <li><span class="subrayado2">· Precisión: </span>Mantendremos sus datos personales exactos y actualizados.</li>
                <li><span class="subrayado2">· Seguridad de los Datos: </span>Aplicamos las medidas técnicas y organizativas adecuadas y proporcionales a los riesgos para garantizar que sus datos no sufran daños, tales como divulgación o acceso no autorizado,
                    la destrucción accidental o ilícita o su pérdida accidental o alteración y cualquier otra forma de tratamiento ilícito.</li>
                <li><span class="subrayado2">· Acceso y Rectificación: </span>Disponemos de medios para que acceda o rectifique sus datos cuando lo considere oportuno.</li>
                <li><span class="subrayado2">· Conservación: </span>Conservamos sus datos personales de manera legal y apropiada y solo mientras es necesario para los fines para los que se han recopilado.</li>
                <li><span class="subrayado2">· Las transferencias internacionales: </span>cuando se dé el caso de que sus datos vayan a ser transferidos fuera de la UE/EEE se protegerán adecuadamente.</li>
                <li><span class="subrayado2">· Terceros: </span>El acceso y transferencia de datos personales a terceros se llevan a cabo de acuerdo con las leyes y reglamentos aplicables y con las garantías contractuales adecuadas.</li>
                <li><span class="subrayado2">· Marketing Directo y cookies: </span>Cumplimos con la legislación aplicable en materia de publicidad y cookies.</li>
            </ul>

            <div class="d-block mb-3">
                <div class="logo_lista text-uppercase f14 fw-bold">
                    4. Recogida y tratamiento de sus datos personales
                </div>
            </div>

            <ul>
                <li><span class="subrayado2">· Datos de carácter identificativo: </span>También recogemos de forma automática datos sobre su visita a nuestro sitio web según se describe en la política de cookies.</li>
                <li><span class="subrayado2">· Siempre que solicitemos sus Datos personales, le informaremos con claridad de qué datos personales recogemos y con qué fin. En general, recogemos y tratamos sus datos personales con el propósito de:</span> Proporcionar
                    información, servicios, productos, información relevante y novedades en el sector.</li>
                <li><span class="subrayado2">· Envío de comunicaciones.</span></li>
            </ul>

            <div class="d-block mb-3">
                <div class="logo_lista text-uppercase f14 fw-bold">
                    5. Legitimidad
                </div>
            </div>
            <ul>
                <p>El tratamiento de tus datos se realiza con las siguientes bases jurídicas que legitiman el mismo: </p>
                <li><span class="subrayado2">·  La solicitud de información y/o la contratación de los servicios de TA2AT, cuyos
                  términos y condiciones se pondrán a tu disposición en todo caso, de forma previa a una eventual contratación. </span></li>
                <li><span class="subrayado2">· El consentimiento libre, específico, informado e inequívoco, en tanto que te informamos poniendo a tu
                  disposición la presente política de privacidad, que tras la lectura de la misma, en caso de estar conforme, puedes
                  aceptar mediante una declaración o una clara acción afirmativa, como el marcado de una casilla dispuesta al
                  efecto. </span></li>
                <li><span class="subrayado2">· Nos ha dado su consentimiento a los efectos del tratamiento. Por supuesto podrá retirar su consentimiento en cualquier momento.</span></li>
                <li><span class="subrayado2">· Por requerimiento legal.</span></li>
                <li><span class="subrayado2">· Por existir un interés legítimo que no se vea menoscabado por sus derechos de privacidad, como por ejemplo el envío de información comercial bien por suscripción a nuestra newsletter o por su condición de cliente.</span></li>
                <li><span class="subrayado2">· Por ser necesaria para la prestación de alguno de nuestros servicios mediante relación contractual entre usted y nosotros.</span></li>
            </ul>
            <p>En caso de que no nos facilites tus datos o lo hagas de forma errónea o incompleta, no podremos atender tu solicitud, resultando del todo imposible proporcionarte la información solicitada o llevar a cabo la contratación de los servicios.
            </p>
            <div class="d-block mb-3">
                <div class="logo_lista text-uppercase f14 fw-bold">
                    6. Comunicación de datos personales
                </div>
            </div>
            <p>Los datos pueden ser comunicados a empresas relacionadas con TA2AT para la prestación de los diversos servicios en calidad de Encargados del Tratamiento. La empresa no realizará ninguna cesión, salvo por obligación legal.</p>
            <div class="d-block mb-3">
                <div class="logo_lista text-uppercase f14 fw-bold">
                    7. Sus derechos
                </div>
            </div>
            <p>En relación con la recogida y tratamiento de sus datos personales, puede ponerse en contacto con nosotros en cualquier momento para:</p>
            <ul>
                <li><span class="subrayado2">· Acceder a sus datos personales y a cualquier otra información indicada en el Artículo 15.1 del RGPD.</span></li>
                <li><span class="subrayado2">· Rectificar sus datos personales que sean inexactos o estén incompletos de acuerdo con el Artículo 16 del RGPD.</span></li>
                <li><span class="subrayado2">· Suprimir sus datos personales de acuerdo con el Artículo 17 del RGPD.</span></li>
                <li><span class="subrayado2">· Limitar el tratamiento de sus datos personales de acuerdo con el Artículo 18 del RGPD.</span></li>
                <li><span class="subrayado2">· Solicitar la portabilidad de sus datos de acuerdo con el Artículo 20 del RGPD.</span></li>
                <li><span class="subrayado2">· Oponerse al tratamiento de sus datos personales de acuerdo con el artículo 21 del RGPD.</span></li>
            </ul>
            <p>Si ha otorgado su consentimiento para alguna finalidad concreta, tiene derecho a retirar el consentimiento otorgado en cualquier momento, sin que ello afecte a la licitud del tratamiento basado en el consentimiento previo a su retirada rrhh.</p>
            <p>Puede ejercer estos derechos enviando comunicación, motivada y acreditada, a ta2at@gmail.com</p>
            <p> También tiene derecho a presentar una reclamación ante la Autoridad de control competente (www.aepd.es) si considera que el tratamiento no se ajusta a la normativa vigente.</p>
            <div class="d-block mb-3">
                <div class="logo_lista text-uppercase f14 fw-bold">
                    8. Información legal
                </div>
            </div>
            <p>Los requisitos de esta Política complementan, y no reemplazan, cualquier otro requisito existente bajo la ley de protección de datos aplicable, que será la que prevalezca en cualquier caso.</p>
            <p>Esta Política está sujeta a revisiones periódicas y la empresa puede modificarla en cualquier momento. Cuando esto ocurra, le avisaremos de cualquier cambio y le pediremos que vuelva a leer la versión más reciente de nuestra Política y que
                confirme su aceptación.</p>
            <<<<<<< HEAD <div class="d-block mb-3">
                <div class="logo_lista text-uppercase f14 fw-bold">
                    9. Finalidad del tratamiento de los datos personales
                </div>
        </div>
        <p class="subrayado2">¿Con qué finalidad trataremos tus datos personales? </p>
        <p>En TA2AT trataremos tus datos personales con las siguientes finalidades:</p>
        <ul>
            <li><span class="subrayado2">· En caso de contratación de los bienes y servicios ofertados a través de TA2AT para
                  mantener la relación contractual, así como la gestión, administración, información, prestación y mejora del
                  servicio. </span></li>
            <li><span class="subrayado2">· Envío de información solicitada a través de los formularios y del chat dispuestos en TA2AT.</span></li>
            <li><span class="subrayado2">· Remitir boletines (newsletters), así como comunicaciones comerciales de promociones y/o publicidad de
                  TA2AT y del sector.</span></li>
        </ul>
        <p>Te recordamos que puedes oponerte al envío de comunicaciones comerciales por cualquier vía y en cualquier momento, remitiendo un correo electrónico a la dirección indicada anteriormente. Los campos de dichos registros son de cumplimentación obligatoria,
            siendo imposible realizar las finalidades expresadas si no se aportan esos datos. </p>
        <p class="subrayado2">¿Por cuánto tiempo se conservan los datos personales recabados? </p>
        <p>Los datos personales proporcionados se conservarán mientras se mantenga la relación comercial o no solicites su supresión y durante el plazo por el cuál pudieran derivarse responsabilidades legales por los servicios prestados.</p>

        <div class="d-block mb-3">
            <div class="logo_lista text-uppercase f14 fw-bold">
                10. Datos recopilados por usuarios de los servicios
            </div>
        </div>
        <p>En los casos en que el usuario incluya ficheros con datos de carácter personal en los servidores de alojamiento compartido,TA2AT no se hace responsable del incumplimiento por parte del usuario del RGPD.</p>
        <div class="d-block mb-3">
            <div class="logo_lista text-uppercase f14 fw-bold">
                11. Retención de datos en conformidad a la LSSI
            </div>
        </div>
        <p>TA2AT informa de que, como prestador de servicio de alojamiento de datos y en virtud de lo establecido en la Ley 34/2002 de 11 de julio de Servicios de la Sociedad de la Información y de Comercio Electrónico (LSSI), retiene por un periodo máximo
            de 12 meses la información imprescindible para identificar el origen de los datos alojados y el momento en que se inició la prestación del servicio. La retención de estos datos no afecta al secreto de las comunicaciones y sólo podrán ser utilizados
            en el marco de una investigación criminal o para la salvaguardia de la seguridad pública, poniéndose a disposición de los jueces y/o tribunales o del Ministerio que así los requiera. La comunicación de datos a las Fuerzas y Cuerpos del Estado
            se hará en virtud a lo dispuesto en la normativa sobre protección de datos personales. </p>
        <div class="d-block mb-3">
            <div class="logo_lista text-uppercase f14 fw-bold">
                12. Derechos propiedad intelectual TA2AT
            </div>
        </div>
        <p>TA2AT es titular de todos los derechos de autor, propiedad intelectual, industrial, "know how" y cuantos otros derechos guardan relación con los contenidos del sitio web <a href="https://ta2at.ovh/" target="_blank" rel="noopener" class="subrayado">ta2at.ovh</a>            y los servicios ofertados en el mismo, así como de los programas necesarios para su implementación y la información relacionada. No se permite la reproducción, publicación y/o uso no estrictamente privado de los contenidos, totales o parciales,
            del sitio web <a href="https://ta2at.ovh/" target="_blank" rel="noopener" class="subrayado">ta2at.ovh</a> sin el consentimiento previo y por escrito.</p>
        <ul>
            <li><span class="subrayado">Propiedad intelectual del software </span>
                <p>El usuario debe respetar los programas de terceros puestos a su disposición por TA2AT, aun siendo gratuitos y/o de disposición pública. TA2AT dispone de los derechos de explotación y propiedad intelectual necesarios del software. El usuario
                    no adquiere derecho alguno o licencia por el servicio contratado, sobre el software necesario para la prestación del servicio, ni tampoco sobre la información técnica de seguimiento del servicio, excepción hecha de los derechos y licencias
                    necesarios para el cumplimiento de los servicios contratados y únicamente durante la duración de los mismos. Para toda actuación que exceda del cumplimiento del contrato, el usuario necesitará autorización por escrito por parte de
                    TA2AT, quedando prohibido al usuario acceder, modificar, visualizar la configuración, estructura y ficheros de los servidores propiedad de TA2AT, asumiendo la responsabilidad civil y penal derivada de cualquier incidencia que se pudiera
                    producir en los servidores y sistemas de seguridad como consecuencia directa de una actuación negligente o maliciosa por su parte.</p>
            </li>
            <li><span class="subrayado">Propiedad intelectual de los contenidos alojados</span>
                <p>Se prohíbe el uso contrario a la legislación sobre propiedad intelectual de los servicios prestados por TA2AT y, en particular de: </p>
                <ul>
                    <li><span class="subrayado2">· La utilización que resulte contraria a las leyes españolas o que infrinja los derechos de terceros. </span></li>
                    <li><span class="subrayado2">· La publicación o la transmisión de cualquier contenido que, a juicio de TA2AT, resulte
                          violento, obsceno, abusivo, ilegal, racial, xenófobo o difamatorio.</span></li>
                    <li><span class="subrayado2">·  Los cracks, números de serie de programas o cualquier otro contenido que vulnere derechos de la propiedad
                          intelectual de terceros.</span></li>
                    <li><span class="subrayado2">·  La recogida y/o utilización de datos personales de otros usuarios sin su consentimiento expreso o contraviniendo
                          lo dispuesto en Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016,
                          relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre
                          circulación de los mismos.</span></li>
                    <li><span class="subrayado2">· La utilización del servidor de correo del dominio y de las direcciones de correo electrónico para el envío de
                          correo masivo no deseado. </span></li>
                </ul>
                <p></p>
                <p>
                    El usuario tiene toda la responsabilidad sobre el contenido de su web, la información transmitida y almacenada, los enlaces de hipertexto, las reivindicaciones de terceros y las acciones legales en referencia a propiedad intelectual, derechos de terceros
                    y protección de menores. </p>
                <p>
                    El usuario es responsable respecto a las leyes y reglamentos en vigor y las reglas que tienen que ver con el funcionamiento del servicio online, comercio electrónico, derechos de autor, mantenimiento del orden público, así como principios universales
                    de uso de Internet.
                </p>
                <p>
                    El usuario indemnizará a TA2AT por los gastos que generara la imputación de TA2AT en alguna causa cuya responsabilidad fuera atribuible al usuario, incluidos honorarios y gastos de defensa jurídica, incluso en el caso de una decisión judicial no definitiva.
                </p>
            </li>
        </ul>
        <div class="d-block mb-3">
            <div class="logo_lista text-uppercase f14 fw-bold">
                13. Protección de la información alojada
            </div>
        </div>
        <p>TA2AT realiza copias de seguridad de los contenidos alojados en sus servidores, sin embargo no se responsabiliza de la pérdida o el borrado accidental de los datos por parte de los usuarios. De igual manera, no garantiza la reposición total de
            los datos borrados por los usuarios, ya que los citados datos podrían haber sido suprimidos y/o modificados durante el periodo del tiempo transcurrido desde la última copia de seguridad.</p>
        <p>Los servicios ofertados, excepto los servicios específicos de backup, no incluyen la reposición de los contenidos conservados en las copias de seguridad realizadas por TA2AT, cuando esta pérdida sea imputable al usuario; en este caso, se determinará
            una tarifa acorde a la complejidad y volumen de la recuperación, siempre previa aceptación del usuario. </p>
        <p>La reposición de datos borrados sólo está incluida en el precio del servicio cuando la pérdida del contenido sea debida a causas atribuibles a TA2AT </p>
        <div class="d-block mb-3">
            <div class="logo_lista text-uppercase f14 fw-bold">
                14. Comunicaciones comerciales
            </div>
        </div>
        <p>En aplicación de la LSSI. TA2AT no enviará comunicaciones publicitarias o promocionales por correo electrónico u otro medio de comunicación electrónica equivalente que previamente no hubieran sido solicitadas o expresamente autorizadas por los
            destinatarios de las mismas. </p>
        <p>En el caso de usuarios con los que exista una relación contractual previa, TA2AT sí está autorizado al envío de comunicaciones comerciales referentes a productos o servicios de TA2AT que sean similares a los que inicialmente fueron objeto de contratación
            con el cliente</p>
        <p>En todo caso, el usuario, tras acreditar su identidad, podrá solicitar que no se le haga llegar más información comercial a través de los canales de Contacto. </p>
        ======= >>>>>>> mvp
    </div>
</div>
</div>