.carticas {
    font-size: 15px !important;
    color: white;
}

.carticas2 {
    font-weight: normal !important;
    color: white;
    margin-top: -1em;
}

.fondo {
    background-color: rgb(43, 43, 43);
    border: #D4AF37 5px solid;
}

.justifi {
    justify-content: center;
}

.numero {
    color: #D4AF37;
}

.justi {
    justify-content: center;
}

.borde {
    border-radius: 5%;
}