<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--Esta linea rompe el navbar
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">
</head>

<body>

    <div class="container-fluid ">
        <h1>Descubre las ventajas de nuestros planes</h1>
        <div class="container ">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card text-center">
                        <div class="title">
                            <i class="fab fa-telegram-plane"></i>
                            <h2>Básico</h2>
                        </div>
                        <div class="price">
                            <h4>0<sup>€</sup></h4>
                        </div>
                        <div class="option">
                            <ul>
                                <li><i class="fas fa-check"></i> Subir dos diseños</li>
                                <li><i class="fas fa-check"></i> Previsualización de tus diseños</li>
                                <li><i class="fas fa-times"></i> Mejor posicionamiento en la web</li>
                                <li><i class="fas fa-times"></i> Estadísticas</li>
                                <li><i class="fas fa-times"></i> Publicidad en el apartado de búsquedas</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-center">
                        <div class="title">
                            <i class="fas fa-plane"></i>
                            <h2>Premium</h2>
                        </div>
                        <div class="price">
                            <h4>9.99<sup>€</sup>/mes</h4>

                        </div>
                        <div class="option">
                            <ul>
                                <li><i class="fas fa-check"></i> Subir hasta 10 diseños</li>
                                <li><i class="fas fa-check"></i> Previsualización de tus diseños</li>
                                <li><i class="fas fa-check"></i> Mejor posicionamiento en la web</li>
                                <li><i class="fas fa-check"></i> Estadísticas</li>
                                <li><i class="fas fa-times"></i> Publicidad en el apartado de búsquedas</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-center">
                        <div class="title">
                            <i class="fas fa-rocket"></i>
                            <h2>Ultimate</h2>
                        </div>
                        <div class="price">
                            <h4> 99.99<sup>€</sup>/año</h4>
                        </div>
                        <div class="option">
                            <ul>
                                <li><i class="fas fa-check"></i> Subir diseños ilimitados</li>
                                <li><i class="fas fa-check"></i> Previsualización de tus diseños</li>
                                <li><i class="fas fa-check"></i> Mejor posicionamiento en la web</li>
                                <li><i class="fas fa-check"></i> Estadísticas</li>
                                <li><i class="fas fa-check"></i> Publicidad en el apartado de búsquedas</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>