@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
body {
    margin: 0;
    padding: 50px;
    font-family: 'Roboto', sans-serif !important;
    background-image: url(https://cdn.pixabay.com/photo/2012/04/25/00/25/drawing-41350_960_720.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 140px 0;
}

h1 {
    text-align: center;
    margin-bottom: 5%;
}

.card {
    position: relative;
    max-width: 325px;
    height: auto;
    border-radius: 40px;
    margin: 0 auto;
    padding: 40px 20px;
    box-shadow: inset 0 0 40px rgba(0, 0, 0, .2), 0 20px 50px rgba(0, 0, 0, .5);
    transition: .5s;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.02);
}


/*-45deg #9b8231*/

.col-sm-4:nth-child(1) .card,
.col-sm-4:nth-child(1) .card .title .fa-telegram-plane {
    background: linear-gradient(-15deg, #a5c3ec, #D4AF37);
}

.col-sm-4:nth-child(2) .card,
.col-sm-4:nth-child(2) .card .title .fas {
    background: linear-gradient(-45deg, darkgray, #D4AF37);
}

.col-sm-4:nth-child(3) .card {
    background: linear-gradient(-45deg, #82a1b1, #D4AF37);
}

.card:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: rgba(255, 255, 255, .1);
    z-index: 1;
    transform: skewY(-5deg) scale(1.5);
}

.title .fa-telegram-plane {
    color: #fff;
    font-size: 60px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
}

.title .fas {
    color: #fff;
    font-size: 60px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
}

.title h2 {
    position: relative;
    margin: 20px 0 0;
    padding: 0;
    color: #fff;
    font-size: 28px;
    z-index: 2;
}

.price {
    position: relative;
    z-index: 2;
}

.price h4 {
    margin: 0;
    padding: 20px 0;
    color: #fff;
    font-size: 50px;
}

.option {
    position: relative;
    z-index: 2;
}

.option ul {
    margin: 0;
    padding: 0;
}

.option ul li {
    margin: 0;
    padding: 10px;
    list-style: none;
    color: #fff;
    font-size: 16px;
}

.card a {
    position: relative;
    z-index: 2;
    background: #fff;
    border-radius: 40px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    margin: 20px auto 0;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.card a:hover {
    text-decoration: none;
}


/*Responsive*/

body {
    display: flex;
    justify-content: center;
}

body>div {
    width: 200%;
}

a {
    color: black;
}


/*Smartphone Movil*/

@media screen and (min-width: 0px) and (max-width: 767px) {
    body>div>div>div>div:nth-child(1)>div {
        margin-bottom: 4em;
    }
    body>div>div>div>div:nth-child(2)>div {
        margin-bottom: 4em;
    }
}