.divTituloLegal {
  width: 100%;
}

.tituloLegal {
  text-shadow: 1px 3px 5px black;
  color: white;
}

.logo_lista {
  background-image: url(/assets/images/favicon.png);
  background-repeat: no-repeat;
  background-size: 1.5em;
  padding: 0.05em 0px 0.35em 2em;
  color: #D4AF37;
  font-weight: bold;
  font-size: 1.2em;
}

.subrayado {
  font-weight: bold;
  color: #D4AF37;
}

.negrita {
  font-weight: bold;
}

.enlace_personalizado {
  text-decoration: none;
  color: #343a40;
}

.subrayado2 {
  color: #343a40;
  font-weight: bold;
}
