<div class="row justify-content-center py-5 divTituloLegal">
    <div class="col-8 col-md-8 col-lg-6 text-center mb-3">
        <div class="d-block mb-3">
            <span class="text-uppercase f14">Política de Cookies</span>
        </div>
        <h1>Te garantizamos el cumplimiento con la <span class="tituloLegal" alt="Agencia Española de Protección de Datos" title="Agencia Española de Protección de Datos">AEPD</span></h1>
    </div>
</div>
<div class="container">
    <div class="row py-0 py-md-5 align-items-center justify-content-between">
        <div class="col-12 col-md-12 col-lg-12 ">
            <div class="d-block mb-3">
                <div class="logo_lista text-uppercase f14 fw-bold">
                    Infomación sobre cookies
                </div>
            </div>
            <p>Conforme con la Ley 34/2002, de 11 de julio, de servicios de la sociedad de la información y de comercio electrónico (LSSI), en relación con el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, General
                de Protección de Datos (GDPR) y la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos y Garantía de los Derechos Digitales (LOPDGDD), es obligado obtener el consentimiento expreso del usuario de todas las páginas web que usan
                cookies prescindibles, antes de que este navegue por ellas.</p>
            <div class="d-block mb-3">
                <div class="logo_lista text-uppercase f14 fw-bold">
                    ¿Qué son las cookies?
                </div>
            </div>
            <p>Las cookies y otras tecnologías similares tales como local shared objects, flash cookies o píxeles, son herramientas empleadas por los servidores Web para almacenar y recuperar información acerca de sus visitantes, así como para ofrecer un
                correcto funcionamiento del sitio. Mediante el uso de estos dispositivos se permite al servidor Web recordar algunos datos concernientes al usuario, como sus preferencias para la visualización de las páginas de ese servidor, nombre y contraseña,
                productos que más le interesan, etc.
            </p>
            <div class="d-block mb-3">
                <div class="logo_lista text-uppercase f14 fw-bold">
                    Cookies afectadas por la normativa y cookies exceptuadas
                </div>
            </div>
            <p>Según la directiva de la UE, las cookies que requieren el consentimiento informado por parte del usuario son las cookies de analítica y las de publicidad y afiliación, quedando exceptuadas las de carácter técnico y las necesarias para el funcionamiento
                del sitio web o la prestación de servicios expresamente solicitados por el usuario.</p>

            <div class="d-block mb-3">
                <div class="logo_lista text-uppercase f14 fw-bold">
                    Tipos de cookies
                </div>
            </div>
            <ul>
                <li class="negrita text-uppercase ">según la finalidad</li>
                <li><span class="subrayado">Cookies técnicas y funcionales:</span> son aquellas que permiten al usuario la navegación a través de una página web, plataforma o aplicación y la utilización de las diferentes opciones o servicios que en ella existan.</li>
                <li><span class="subrayado">Cookies analíticas:</span> son aquellas que permiten al responsable de las mismas el seguimiento y análisis del comportamiento de los usuarios de los sitios web a los que están vinculadas. La información recogida
                    mediante este tipo de cookies se utiliza en la medición de la actividad de los sitios web, aplicación o plataforma y para la elaboración de perfiles de navegación de los usuarios de dichos sitios, aplicaciones y plataformas, con el
                    fin de introducir mejoras en función del análisis de los datos de uso que hacen los usuarios del servicio.</li>
                <li><span class="subrayado">Cookies publicitarias:</span> son aquellas que permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios que, en su caso, el editor haya incluido en una página web, aplicación o plataforma
                    desde la que presta el servicio solicitado en base a criterios como el contenido editado o la frecuencia en la que se muestran los anuncios.</li>
                <li><span class="subrayado">Cookies de publicidad comportamental:</span> recogen información sobre las preferencias y elecciones personales del usuario (retargeting) para permitir la gestión, de la forma más eficaz posible, de los espacios
                    publicitarios que, en su caso, el editor haya incluido en una página web, aplicación o plataforma desde la que presta el servicio solicitado.</li>
                <li><span class="subrayado">Cookies sociales:</span> son establecidas por las plataformas de redes sociales en los servicios para permitirle compartir contenido con sus amigos y redes. Las plataformas de medios sociales tienen la capacidad
                    de rastrear su actividad en línea fuera de los Servicios. Esto puede afectar al contenido y los mensajes que ve en otros servicios que visita.</li>
                <li><span class="subrayado">Cookies de afiliados:</span> permiten hacer un seguimiento de las visitas procedentes de otras webs, con las que el sitio web establece un contrato de afiliación (empresas de afiliación).</li>
                <li><span class="subrayado">Cookies de seguridad:</span> almacenan información cifrada para evitar que los datos guardados en ellas sean vulnerables a ataques maliciosos de terceros.</li>
            </ul>
            <ul>
                <li class="negrita text-uppercase ">según la propiedad</li>
                <li><span class="subrayado">Cookies propias: </span>son aquellas que se envían al equipo terminal del usuario desde un equipo o dominio gestionado por el propio editor y desde el que se presta el servicio solicitado por el usuario.</li>
                <li><span class="subrayado">Cookies de terceros: </span>son aquellas que se envían al equipo terminal del usuario desde un equipo o dominio que no es gestionado por el editor, sino por otra entidad que trata los datos obtenidos través de las
                    cookies.
                </li>
            </ul>
            <ul>
                <li class="negrita text-uppercase">según el plazo de conservación</li>
                <li><span class="subrayado">Cookies de sesión: </span>son un tipo de cookies diseñadas para recabar y almacenar datos mientras el usuario accede a una página web.</li>
                <li><span class="subrayado">Cookies persistentes: </span>son un tipo de cookies en el que los datos siguen almacenados en el terminal y pueden ser accedidos y tratados durante un período definido por el responsable de la cookie, y que puede
                    ir de unos minutos a varios años.</li>
            </ul>

            <div class="d-block mb-3">
                <div class="logo_lista text-uppercase f14 fw-bold">
                    Tratamiento de datos personales
                </div>
            </div>
            <p> TA2AT es el Responsable del tratamiento de los datos personales del Interesado y le informa de que estos datos serán tratados de conformidad con lo dispuesto en el Reglamento (UE) 2016/679, de 27 de abril de 2016 (GDPR), por lo que se le facilita
                la siguiente información del tratamiento:</p>

            <ul>
                <li><span class="subrayado2">Fines del tratamiento: </span> según se especifica en el apartado de cookies que se utilizan en este sitio web.</li>
                <li><span class="subrayado2">Legitimación del tratamiento: </span>salvo en los casos en los que resulte necesario para la navegación por la web, por consentimiento del interesado (art. 6.1 GDPR).</li>
                <li><span class="subrayado2">Criterios de conservación de los datos: </span>según se especifica en el apartado de cookies utilizadas en la web.</li>
                <li><span class="subrayado2">Comunicación de los datos: </span>no se comunicarán los datos a terceros, excepto en cookies propiedad de terceros o por obligación legal.</li>
                <li><span class="subrayado2">Derechos que asisten al Interesado:</span>
                    <ol>
                        <li><span>- Derecho a retirar el consentimiento en cualquier momento.</span></li>
                        <li><span>- Derecho de acceso, rectificación, portabilidad y supresión de sus datos, y de limitación u oposición a su tratamiento.</span></li>
                        <li><span>- Derecho a presentar una reclamación ante la Autoridad de control (www.aepd.es) si considera que el tratamiento no se ajusta a la normativa vigente.</span></li>
                    </ol>
                </li>
                <li><span class="subrayado2">Datos de contacto para ejercer sus derechos: TA2AT. Carr. de San Vicente del Raspeig, s/n, 03690 San Vicente del Raspeig, Alicante. E-mail: ta2at@gmail.com</span>
            </ul>
            <div class="d-block mb-3">
                <div class="logo_lista text-uppercase f14 fw-bold">
                    Cookies utilizadas en este sitio web
                </div>
            </div>
            <ul>
                <li class="negrita text-uppercase">Necesarias </li>
                <li><span class="subrayado">Proveedor: </span>pixabay.com<span class="subrayado"> Cookie: </span>__cf_bm<span class="subrayado"> Finalidad: </span>Esta cookie se utiliza para distinguir entre humanos y bots. Esto es beneficioso para la web
                    con el objeto de elaborar informes válidos sobre el uso de su web.</li>
                <hr>
                <li><span class="subrayado">Proveedor: </span>google.com<span class="subrayado"> Cookie: </span>CONSENT<span class="subrayado"> Finalidad: </span>Utilizada para detectar si el visitante ha aceptado la categoría de marketing en el banner de
                    cookies. Esta cookie es necesaria para que la web cumpla con el RGPD.</li>
                <hr>
                <li><span class="subrayado">Proveedor: </span>tatuate.es<span class="subrayado"> Cookie: </span>CookieConsent<span class="subrayado"> Finalidad: </span>Almacena el estado de consentimiento de cookies del usuario para el dominio actual.</li>
                <hr>
                <li><span class="subrayado">Proveedor: </span>tatuate.es<span class="subrayado"> Cookie: </span>elementor<span class="subrayado"> Finalidad: </span>Utilizada en relación al tema de Wordpress de la web. La cookie permite al propietario de la
                    web implementar o cambiar el contenido de la web en tiempo real.</li>
            </ul>
            <ul>
                <li class="negrita text-uppercase">Estadística </li>
                <li><span class="subrayado">Proveedor: </span>tatuate.es<span class="subrayado"> Cookie: </span>_ga<span class="subrayado"> Finalidad: </span>Registra una identificación única que se utiliza para generar datos estadísticos acerca de cómo utiliza
                    el visitante el sitio web.</li>
                <hr>
                <li><span class="subrayado">Proveedor: </span>tatuate.es<span class="subrayado"> Cookie: </span>_ga_#<span class="subrayado"> Finalidad: </span>Recopila datos sobre el número de veces que un usuario ha visitado el sitio web además de las fechas
                    de la primera visita y de la más reciente. Utilizada por Google Analytics.</li>
                <hr>
                <li><span class="subrayado">Proveedor: </span>tatuate.es<span class="subrayado"> Cookie: </span>_gat<span class="subrayado"> Finalidad: </span>Utilizado por Google Analytics para controlar la tasa de peticiones.</li>
                <hr>
                <li><span class="subrayado">Proveedor: </span>tatuate.es<span class="subrayado"> Cookie: </span>_gid<span class="subrayado"> Finalidad: </span>Registra una identificación única que se utiliza para generar datos estadísticos acerca de cómo
                    utiliza el visitante el sitio web.</li>
                <hr>
                <li><span class="subrayado">Proveedor: </span>google-analytics.com<span class="subrayado"> Cookie: </span>_gid<span class="subrayado"> Finalidad: </span>Se utiliza para enviar datos a Google Analytics sobre el dispositivo del visitante y su
                    comportamiento. Rastrea al visitante a través de dispositivos y canales de marketing.</li>
            </ul>
            <ul>
                <li class="negrita text-uppercase">Marketing</li>
                <li><span class="subrayado">Proveedor: </span>google.com<span class="subrayado"> Cookie: </span>NID<span class="subrayado"> Finalidad: </span>Registra una identificación única que identifica el dispositivo de un usuario que vuelve. La identificación
                    se utiliza para los anuncios específicos.</li>
            </ul>
            <div class="d-block mb-3">
                <div class="logo_lista text-uppercase f14 fw-bold">
                    Cookies de terceros
                </div>
            </div>
            <p>
                Los servicios de terceros son ajenos al control del editor. Los proveedores pueden modificar en todo momento sus condiciones de servicio, finalidad y utilización de las cookies, etc.
            </p>
            <p>
                Proveedores externos de este sitio web:
            </p>
            <ul>
                <li> <span class="subrayado">Editor: </span> Facebook <span class="subrayado">Política de privacidad: </span><a href="https://www.facebook.com/about/privacy/" target="_blank" class="negrita enlace_personalizado">Privacidad Facebook</a></li>
            </ul>

            <div class="d-block mb-3">
                <div class="logo_lista text-uppercase f14 fw-bold">
                    Cómo gestionar las cookies desde el navegador
                </div>
            </div>
            <ul>
                <li><span class="subrayado2">Eliminar las cookies del dispositivo: </span>Las cookies que ya están en un dispositivo se pueden eliminar borrando el historial del navegador, con lo que se suprimen las cookies de todos los sitios web visitados.Sin
                    embargo, también se puede perder parte de la información guardada (por ejemplo, los datos de inicio de sesión o las preferencias de sitio web).</li>
                <li><span class="subrayado2">Gestionar las cookies específicas del sitio: </span>Para tener un control más preciso de las cookies específicas de cada sitio, los usuarios pueden ajustar su configuración de privacidad y cookies en el navegador.</li>
                <li><span class="subrayado2"> Bloquear las cookies: </span>Aunque la mayoría de los navegadores modernos se pueden configurar para evitar que se instalen cookies en los dispositivos, eso puede obligar al ajuste manual de determinadas preferencias
                    cada vez que se visite un sitio o página. Además, algunos servicios y características pueden no funcionar correctamente (por ejemplo, los inicios de sesión con perfil).</li>
            </ul>


            <div class="d-block mb-3">
                <div class="logo_lista text-uppercase f14 fw-bold">
                    Cómo eliminar las cookies de los navegadores cómunes
                </div>
            </div>
            <ul>
                <li><span class="subrayado">Explorer: </span><a href="https://support.microsoft.com/es-es/help/278835/how-to-delete-cookie-files-in-internet-explorer" target="_blank" class="negrita enlace_personalizado">Pincha aquí</a></li>
                <li><span class="subrayado">Chrome: </span><a href="http://support.google.com/chrome/answer/95647?hl=es" target="_blank" class="negrita enlace_personalizado">Pincha aquí</a></li>
                <li><span class="subrayado">Edge: </span><a href="https://support.microsoft.com/es-es/microsoft-edge/eliminar-las-cookies-en-microsoft-edge-63947406-40ac-c3b8-57b9-2a946a29ae09" target="_blank" class="negrita enlace_personalizado">Pincha aquí</a></li>
                <li><span class="subrayado">Firefox: </span><a href="https://www.mozilla.org/es-ES/privacy/websites/#cookies" target="_blank" class="negrita enlace_personalizado">Pincha aquí</a></li>
                <li><span class="subrayado">Opera: </span><a href="https://help.opera.com/en/latest/security-and-privacy/#clearBrowsingData" target="_blank" class="negrita enlace_personalizado">Pincha aquí</a></li>
                <li><span class="subrayado">Safari: </span><a href="https://support.apple.com/es-es/guide/safari/sfri11471/mac" target="_blank" class="negrita enlace_personalizado">Pincha aquí</a></li>
            </ul>
        </div>
    </div>
</div>